<!DOCTYPE html>
<html>
<head>
  <title>3d</title>
    {% load staticfiles %}
  <link href="{% static 'quest/home.css' %}" rel='stylesheet' type='text/css'>
</head>
<body background="../../static/quest/images/b.jpg">
  <ul class="block-menu">
  <li><a href="#" class="three-d">
    Home
    <span aria-hidden="true" class="three-d-box">
      <span class="f">Home</span>
      <span class="b">Home</span>
    </span>
  </a></li>
  <li><a href="{% url 'quest:fli' %}" class="three-d">
    TEXTBOOK
    <span aria-hidden="true" class="three-d-box">
      <span class="f">TEXTBOOK</span>
      <span class="b">TEXTBOOK</span>
    </span>
  </a></li>
  <li><a href="#" class="three-d">
    About us
    <span aria-hidden="true" class="three-d-box">
      <span class="f">About us</span>
      <span class="b">About us</span>
    </span>
  </a></li>
  <li id="pro"><a href="#" class="three-d">
    Smart question generator
    <span aria-hidden="true" class="three-d-box">
      <span class="f" id="f1">Smart question generator</span>
      <span class="b" id="b1">Smart question generator</span>
    </span>
  </a></li>

  <!-- more items here -->
</ul>
<div class="wrap">
  <div class="cube">
    <div class="front">
      <img src="../../static/quest/images/i2.jpg">
    </div>
    <div class="back">
      <img src="../../static/quest/images/i4.jpg">
    </div>
    <div class="top">
      <img src="../../static/quest/images/i5.jpg">
    </div>
    <div class="bottom">
      <img src="../../static/quest/images/i6.jpg">
    </div>
    <div class="left">
      <img src="../../static/quest/images/i7.jpg">
    </div>
    <div class="right">
      <img src="../../static/quest/images/i8.jpg">
    </div>
  </div>
</div>
<div class="container">
  <button class="button" style="vertical-align:middle" onclick=(location.href="{% url 'quest:fli' %}")><span>Get Started &#8594;</span></button>
</div>
</body>

</html>